<app-header></app-header>


<div class="container flex place-content-center">
  <div class="counter p-5">
    <p class="text-center text-7xl">{{salary | currency:'EUR':true}}</p>
      <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700 place-content-center flex">
        Income/Outcome?
      </span>


      <div class="flex place-content-center">
        <input type="number" [(ngModel)]="inputValue" name="salary"  class="block flex mt-1 px-3 py-2 bg-white border  w-3/12	 shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1" placeholder="$" required />
      </div>
      <p class="mt-2 text-center text-red-600 text-sm" [hidden]="checkValidation">
        Please provide a valid number.
      </p>
    <div class="flex place-content-center mt-5">
      <button type="button"  (click)="increase()" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Income</button>
<button type="button" (click)="decrease()" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Outcome</button>
    </div>
    <div  [ngClass]="styleAlerts" [hidden]="checkUpdateSalary">
      <span class="block sm:inline" >{{inputValue | currency:'EUR':true}} has been {{isIncreased ? 'added in' : 'retired from'}} your account</span>
    </div>

  </div>
</div>

<app-footer></app-footer>